<div class="banner">

    <h1 class="blk">Welcome</h1>

</div>

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="images/bison1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="images/Whistlepig with Moustache(P).jpg"></a>
    <a class="carousel-item" href="#three!"><img src="images/Joey Boos.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="images/Kitty 3.2.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="images/Artemesia Sunset.jpg"></a>
  </div>
