<div class="banner">

    <h1 class="blk">Welcome</h1>

</div>

<div class="parallax-container">
    <div class="parallax"><img src="images/Tree Bear.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Kevin Grastorf Photography</h2>
      <h5 class="grey-text text-darken-3 lighten-3">Kevin has captured the essence of Yellowstone, as well as individuals he has had the pleasure of photographing. He has a unique eye and looks for new ways of seeing things. Click on the tabs above to see examples of his work </h5>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/wp.jpg"></div>
  </div>
