<div class="banner">

    <h1 class="blk">Welcome</h1>

</div>

<div class="section orange accent-3"><h2 class="header ts">Thank you for visiting my website.</h2></div>
<div class="parallax-container">
    <div class="parallax"><img src="images/Tree Bear.jpg"></div>
</div>
<div class="section orange accent-3">
    <div class="row container">
        <h2 class="header ts">Kevin Grastorf Photography</h2>
        <h5 class="ts">Kevin has captured the essence of Yellowstone with his photography. Although he enjoys nature photography best, he also enjoys taking Headshots and food photography. Click on the tabs above to see examples of his work </h5>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/Pine.jpg"></div>
</div>
